body { background: #ade6d4; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 33px; display: flex; }
.block-router-0 { color: #c9d99b; font-size: 13px; margin-bottom: 5px; }
.block-auth-1 { color: #5070e0; font-size: 18px; margin-bottom: 5px; }
.block-uploader-2 { color: #ed3a80; font-size: 16px; margin-bottom: 5px; }
.block-auth-3 { color: #67ce79; font-size: 17px; margin-bottom: 5px; }
.block-router-4 { color: #25af22; font-size: 17px; margin-bottom: 5px; }
.block-auth-5 { color: #21bae7; font-size: 17px; margin-bottom: 5px; }
.block-invoice-6 { color: #109451; font-size: 15px; margin-bottom: 5px; }
.block-filter-7 { color: #621575; font-size: 20px; margin-bottom: 5px; }
.block-cache-8 { color: #6aabbd; font-size: 17px; margin-bottom: 5px; }